In [2]:
#%pip install numpy openpyxl nbformat ipykernel plotly

In [3]:
import pandas as pd

In [4]:
#IMPORTAR BASE DE DADOS

tabel = pd.read_csv('cancelamentos.csv')

In [5]:
#VISUALIZAR A BASE DE DADOS
    #entender quais informações eu tenho disponíveis
    #procurar cagadas na base de dados e coisas inúteis

tabel = tabel.drop(columns = 'CustomerID') #remove colunas(inúteis)

tabel = tabel.dropna() #remove todas as linhas com pelo menos uma informação vazia NaN(not a number - informação vazia)

In [6]:
#ANÁLISE DOS CANCELAMENTOS(QUANTOS FORAM E PERCENTUAL)

display(tabel['cancelou'].value_counts()) #conta os valores da coluna cancelou

display(tabel['cancelou'].value_counts(normalize=True)) #exibe os valores em porcentagem, valor percentual = valor normalizado

display(tabel['cancelou'].value_counts(normalize=True).map('{:.1%}'.format)) #exibe os valores formatados como "x%" com 1 casa decimal

cancelou
1.0    499993
0.0    381666
Name: count, dtype: int64

cancelou
1.0    0.567105
0.0    0.432895
Name: proportion, dtype: float64

cancelou
1.0    56.7%
0.0    43.3%
Name: proportion, dtype: object

In [ ]:
#ANALISE DAS CAUSAS DOS CANCELAMENTOS
import plotly.express as px #lib para criação de graficos

#CRIANDO Os GRAFICOS
for column in tabel.columns:
    grafic = px.histogram(tabel, x = column, color = 'cancelou') #gráfico com eixo x de todas as colunas e cor da coluna cancelou pra diferenciar
#EXIBINDO O GRÁFICO
    grafic.show()

In [ ]:
#PRINCIPAIS PROBLEMAS ENCONTRADOS:
    # - todos os clientes de contrato mensal cancelaram
    # - todos os clientes com mais de 20 dias de atraso cancelaram o serviço
    # - todos os clientes que ligaram mais de 4x pro call center cancelaram

In [ ]:
#ANALISAR SE RESOLVER ESSES 3 PROBLEMAS QUANTO CAI O CANCELAMENTO

    #Duração do contrato nao pode ser mensal:
tabel = [tabel['duração_contrato'] != 'Monthly']
    #Atrasos de até 20 dias:
tabel = [tabel['dias_atraso'] <= 20]
    #Ligações de call center até só 4 ligações
tabel = [tabel['ligacoes_callcenter'] <= 4]

In [8]:
display(tabel) #display é um print bonito
display(tabel.info()) #mostra informações da tabela

,idade,sexo,tempo_como_cliente,frequencia_uso,ligacoes_callcenter,dias_atraso,assinatura,duracao_contrato,total_gasto,meses_ultima_interacao,cancelou
0,30.0,Female,39.0,14.0,5.0,18.0,Standard,Annual,932.00,17.0,1.0
1,65.0,Female,49.0,1.0,10.0,8.0,Basic,Monthly,557.00,6.0,1.0
2,55.0,Female,14.0,4.0,6.0,18.0,Basic,Quarterly,185.00,3.0,1.0
3,58.0,Male,38.0,21.0,7.0,7.0,Standard,Monthly,396.00,29.0,1.0
4,23.0,Male,32.0,20.0,5.0,8.0,Basic,Monthly,617.00,20.0,1.0
...,...,...,...,...,...,...,...,...,...,...,...
881661,42.0,Male,54.0,15.0,1.0,3.0,Premium,Annual,716.38,8.0,0.0
881662,25.0,Female,8.0,13.0,1.0,20.0,Premium,Annual,745.38,2.0,0.0
881663,26.0,Male,35.0,27.0,1.0,5.0,Standard,Quarterly,977.31,9.0,0.0
881664,28.0,Male,55.0,14.0,2.0,0.0,Standard,Quarterly,602.55,2.0,0.0
881665,31.0,Male,48.0,20.0,1.0,14.0,Premium,Quarterly,567.77,21.0,0.0

<class 'pandas.core.frame.DataFrame'>
Index: 881659 entries, 0 to 881665
Data columns (total 11 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   idade                   881659 non-null  float64
 1   sexo                    881659 non-null  object
 2   tempo_como_cliente      881659 non-null  float64
 3   frequencia_uso          881659 non-null  float64
 4   ligacoes_callcenter     881659 non-null  float64
 5   dias_atraso             881659 non-null  float64
 6   assinatura              881659 non-null  object
 7   duracao_contrato        881659 non-null  object
 8   total_gasto             881659 non-null  float64
 9   meses_ultima_interacao  881659 non-null  float64
 10  cancelou                881659 non-null  float64
dtypes: float64(8), object(3)
memory usage: 80.7+ MB

None